@import url(../fonts/Fontastique.css);

::root{
    --bs-body-font-size: 1.2rem;
}
body {
    font-family: "Montserrat", sans-serif;
}

.title { 
    font-family: 'Fontastique', sans-serif;
}

// .borda{
    
//     background-color: #021933;
//     border-radius: 10% 90% 12% 88% / 18% 85% 15% 82%;
//     border: #021933 1px solid;
// }
