@import url(../fonts/Fontastique.css);

::root{
    --bs-body-font-size: 1.2rem;
}
body {
    font-family: "Montserrat", sans-serif;
    background-color: rgba(218, 214, 214, 0.897);
}

.title { 
    font-family: 'Fontastique', sans-serif;
}

.reveal{
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

// .borda{
    
//     background-color: #021933;
//     border-radius: 10% 90% 12% 88% / 18% 85% 15% 82%;
//     border: #021933 1px solid;
// }
